body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Arial;
  background: linear-gradient(
    180deg,
    #184b78 0%,
    #157479 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 35px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

h1 {
  margin-bottom: 5px;
  font-size: 32px;
}

h2 {
  margin-top: 20px;
}

p {
  margin: 10px 0;
}

.temp {
  font-size: 48px;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

button {
  width: 90%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: #ffffff;
  color: #007aff;
  cursor: pointer;
}

button:hover {
  background: #e6f0ff;
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
